html{
  scroll-behavior: smooth;
}
body{
  background-color: #141526;
  /* min-height:100vh; */
    
  /* background: #0F2027;  
    /* background: #0F2027;  
  /* background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
}
.top
{
  border-color: #FFFFFF;
  background-color: #046331;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(239, 232, 232);
}
.navbar-light .navbar-nav .nav-link:hover
{
  color: white;
}
.navbar-light .navbar-brand 
{
  color: white;
}
.navbar-light .navbar-brand:hover
{
  color: white;
}

.navbar-brand
{
font-family: 'Cinzel', serif;
color: white;

}
.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nodisplay
{
display: none;
}
.reg
{
  background-color: black;
  padding: 2px;
  border-right:1px solid darkred;
  border-left: 1px solid darkred;
  min-height: 100vh;
}
.form-control
{

margin:20px;
background-color: inherit;
color: #04a14e;

}
.form-control:hover
{
border: 2px solid #00863f;


}
.form-control:focus
{
outline: none!important;

  background-color: black;
color: white;
border: 4px solid #00863f;

}

.outer
{
  min-height: 100vh;
}
.company
{
  background-color: black;
  margin-bottom:10px;
  border: 1px solid teal;
  cursor: pointer;
  width: 100%;
}
.company-more-info
{
width: 500px;
height:500px;
background: black;
position: fixed;
top: 20%;
left:35%;
z-index: 13;
border: 1px solid teal;
display: none;
}
.show
{
display:block;
}

.content
{   margin:0 auto;

  height: fit-content;   
    height: fit-content;   
  height: fit-content;   
}
#searhCompany
{
  width:250px
}
.sidenav
{
    background-color: black;
    color:white;
    border-radius: 10px;
}
.side-item
{
    color: white;
    margin: 15px;
}

.top-header-login-reg
{
margin-top: 100px;
}
footer
{
margin-top:150px;
position: relative;
background: #021D21; 
  background: #021D21; 
background: #021D21; 
height: fit-content; bottom: 0;

}
/* hover effects--------------------------------------- */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* Reveal */
.hvr-reveal {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
overflow: hidden;
}
.hvr-reveal:before {
content: "";
position: absolute;
z-index: -1;
left: 0;
right: 0;
top: 0;
bottom: 0;
border-color: #2098D1;
border-style: solid;
border-width: 0;
-webkit-transition-property: border-width;
transition-property: border-width;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
-webkit-transform: translateY(0);
transform: translateY(0);
border-width: 4px;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Underline From Center */
.hvr-underline-from-center {
/* display: inline-block; */
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
overflow: hidden;
}
.hvr-underline-from-center:before {
content: "";
position: absolute;
z-index: -1;
left: 51%;
right: 51%;
bottom: 0;
background: ivory;
height: 2px;
-webkit-transition-property: left, right;
transition-property: left, right;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
left: 0;
right: 0;
}



.fa-plus
{
  color:darkred;
}  


.center-title
{
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: serif;
font-size: 45px;

}
.center-para
{
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
   

}
.center-button
{
color: white;position: absolute; top: 80%;left: 50%;text-align: center;transform: translate(-50%, -50%);
}






/* 
---------chatbot---------------------- */
#widget-container
{
  position:fixed;
  bottom: 0;
  right:0;
  margin: 50px;
  color:whitesmoke;
  z-index: 9;
}
.chatbot-minimised
{
z-index: 9;

  position: fixed;
  right: 0;
  width: 0;

  opacity:0;
  transition: opacity 1s;
 /* display: none; */
 background:#cdd5d6;
}
.chatbot-expanded
{
  z-index: 11;
  height: 550px;
  width: 340px;
  /* border: 2px solid white; */
  border-radius: 5px;
  margin: 30px;
  opacity: 1;
  display:block;
  background:#cdd5d6;
  position: fixed;
  right: 0;
  transition: opacity 1s;

}
.chatbot-header
{
 border-radius: inherit;
  color:black;
  background:#f23c3c;
  padding: 5px;
  height:50px;
}


.chatbot-message-box {
flex: 0 1 42px;
width: 100%;
background: #fff; 
  background: #fff; 
background: #fff; 
margin-bottom: 5px;
padding: 10px;
position: absolute;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 15px 15px 15px 15px; 
  border-radius: 15px 15px 15px 15px; 
border-radius: 15px 15px 15px 15px; 
height:38px;
bottom: 0;
border:1px solid #ccc;
}

.message-input {
  background: none;
  border: none;
  outline: none!important;
  resize: none; 
    resize: none; 
  resize: none; 
  /* color: rgba(255, 255, 255, .8);*/
  font-size: 15px;
  height: 24px;
  margin: 0;
  padding-right: 20px;
  width: 85%;
  line-height: 9x 0%;
  color: #444; 
    color: #444; 
  color: #444; 
  
 }
 .message-input::-webkit-scrollbar-thumb {
  background: teal; 
    background: teal; 
  background: teal; 
}
.message-input::-webkit-scrollbar {
  width: 1px;
}
textarea:focus:-webkit-placeholder 
  textarea:focus:-webkit-placeholder 
textarea:focus:-webkit-placeholder 
{
  color: transparent;
}
 .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #4A90E2;
   background:none;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  padding:0 10px;
  border-radius: 5px;
  outline: none!important;
  /* transition:background .2s ease; */
  cursor:pointer;
 }
  .message-submit:hover {
    background:none;
    color: #333;
}

.message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 20px 20px 20px 0; 
    border-radius: 20px 20px 20px 0; 
  border-radius: 20px 20px 20px 0; 
  background: #eee; 
    background: #eee; 
  background: #eee; 
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 5px;
  position: relative;
  max-width: 70%;
    /* border:1px solid #0000DD; */
  overflow-wrap: break-word;
}
.message-icon
{
  clear: both;
  float: left;
  border-radius:20px; 
    border-radius:20px; 
  border-radius:20px; 
  position: relative;   
    position: relative;   
  position: relative;   
}
.message-user {
  float: right;
  background:#18c0fd;
  border:1px solid #ccc;
  border-radius: 20px 20px 0 20px;
  margin-right: 5px;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
    background: #f1f1f1; 
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
    background: #888; 
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
    background: #555; 
  background: #555; 
}
.animate__animated.animate__headShake{
  --animate-duration: 0.7s;
}
/* ----------------------calculator---------------------------------------- */

.calculator-body
{
  background-color:black;
  border-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid white;

}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: 10px;
  padding: 10px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 3px; 
  background: #49bc4f; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 5px;
 
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.calculator-final
{
  background-color:black;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  left: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid darkred;

  padding: 10px;
}

.calculator-values
{
  border: none;
  width: 30px;
  background-color: black;
  color: white;
}
.calculator-values:hover
{
  border: 1px solid #046331;
}
.calculator-final
{
  display: inline-block;
}
.calculator-body
{
  background-color:black;
  border-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid white;

}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: 10px;
  padding: 10px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 3px; 
  background: #49bc4f; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 5px;
 
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.calculator-final
{
  background-color:black;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  left: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid darkred;

  padding: 10px;
}

.calculator-values
{
  border: none;
  width: 30px;
  background-color: black;
  color: white;
}
.calculator-values:hover
{
  border: 1px solid #046331;
}
.calculator-final
{
  display: inline-block;
}



/* -----------------------footer------------------------------------- */
.footer-links
{
margin: 20px;
color: white;

}
.footer-links:hover
{
color: white;
text-decoration: none;

}
.social-links
{
list-style-type: none;
display: inline-block;
padding-left: 0;
}
.social-list{

display: inline-block;
}
.social-list  a {
display: inline-block;

width: 30px;
margin-right: 6px;
border-radius: 100%;;
background-color: black;
color: white;
padding: 0;
text-align: center;
}
.social-list a:hover
{
background-color: white;
color: black;
}
/* 
-----------------------------------------------------------reccs---------------------------- */
#sticky-sidebar {
min-height: 100vh;
transition: max-width 1s;
overflow:hidden;
width: fit-content;
background-color: black;
text-align: center;
border-radius: 7px;
width: 23%;
max-width:25%;
}
#sticky-sidebar.hide {
max-width:0;
padding:0 !important;
}
.sidenav{
background-color: #000000;
}

.card-heading
{
text-align: center;
color: gold;
padding: 0;
font-size: 22px;

}
.tags
{
display:block;
font-size: 17px;
text-align: center;
margin: 10px;
font-weight: bold;
}

.moreinfo
{
  color:white;
  size: 20px;
  margin: 0 auto;
}
.sectorbutton
{
  text-align:center;
  background: transparent;
  color:teal;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom:8px;
  width: 98%;
}
.sectorbutton:hover{
  background: teal;
  color: black;
}
#sector-toggler
{
  display:none;
  text-align: center;
  padding-right:0px;
  background-color: black;
  position:relative;
  border-top: 1px solid teal;
  border-right:1px solid teal;

}
.companyTitle
{
 font-size: 19px;  
 text-decoration: underline;  
}

#authorization
{
  border: 2px solid teal;
  background: black;
  color: white;
  width: fit-content ;
  height: fit-content;
}
#sectorheadingcontainer
{
  border: 1px solid darkgoldenrod;
  border-radius: 7px;
  padding: 2px;
  color: white;
}
.percentage
{
  color:#28A745;
}

.percentageloss
{
  color: #d13617;
}
#sectorchoicetitle
{
  text-transform: uppercase;
  padding-right: 20px;
}
.selected
{
  background:teal;
  color:black;
}
#loading
{
  display: flex;
  width: 100%;
  margin: 0 auto;
justify-content: center;
z-index: 100;
  
}
/* -------------------------------- media query-------------------------------- */
@media(max-width:700px)
{
div div h1
{
  font-size: 30px;
}
.center-para{
  top:50%
}
.chatbot-expanded
{
  min-width: 100vw;
  margin:0;
  bottom: 0;
  min-height: 100%;

}
#widget-container
{
  margin:10px;
  margin-right:0;
}

.message
{
  font-size: 25px;
}
.company-more-info
{
  width: 100%;
  left:0;
}
.calculator-final
{
  left:0;
  margin-left: 20px;
}
#result-calculator
{
 font-size: 20px;
}
#sector-toggler
{
  display:inline;
background-color: teal ;
border-top: black;
border-right:black;
border-top-left-radius: 0%;
border-bottom-right-radius: 0%;
}
#sticky-sidebar
{
  width: 45%;
  max-width:45%;
  z-index:9;

}
.content
{
  padding:0px;
  
}
.pekoms
{
  padding:0px;
  margin:0px;
}
.sectorheading
{
  font-size: 30px;
 
}
.companyTitle
{
  white-space: inherit;

}
}





