html{
    scroll-behavior: smooth;
}
body{
    background-color: #141526;
    /* min-height:100vh; */
      
    /* background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
}
.top
{
    border-color: #FFFFFF;
    background-color: #046331;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(239, 232, 232);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.reg
{
    background-color: black;
    padding: 2px;
    border-right:1px solid darkred;
    border-left: 1px solid darkred;
    min-height: 100vh;
}
.form-control
{
  
margin:20px;
background-color: inherit;
color: #04a14e;
border-top: none;
border-left: none;
border-right:none;

}
.form-control:hover
{
    border-bottom:2px solid#046331;
}
.form-control:focus
{
    border-bottom:4px solid #00863f;
    background-color: black;

}

.outer
{
    min-height: 100vh;
}
.company
{
    background-color: black;
    margin-bottom:10px;
}
.content
{   margin:0 auto;
 
    height: fit-content;   
}
#searhCompany
{
    width:250px
}
  .sidenav
  {
      background-color: black;
      color:white;
      border-radius: 10px;
  }
  .side-item
  {
      color: white;
      margin: 15px;
  }

.top-header-login-reg
{
  margin-top: 100px;
}



/* hover effects--------------------------------------- */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  /* Sweep To Bottom */
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #046331;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
  }
  .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  /* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.fa-plus
{
    color:darkred;
}  


.center-title
{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: serif;
  font-size: 45px;
  
}
.center-para
{
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
     
  
}
.center-button
{
  color: white;position: absolute; top: 80%;left: 50%;text-align: center;transform: translate(-50%, -50%);
}






/* 
---------chatbot---------------------- */
#widget-container
{
    position:fixed;
    bottom: 0;
    right:0;
    margin: 50px;
    color:whitesmoke;
    z-index: 9;
}
.chatbot-minimised
{
  z-index: 9;

    position: fixed;
    right: 0;
    width: 0;
  
    opacity:0;
    transition: opacity 1s;
   /* display: none; */
   background:#cdd5d6;
}
.chatbot-expanded
{
    z-index: 11;
    height: 500px;
    width: 350px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 50px;
    opacity: 1;
    display:block;
    background:#cdd5d6;
    position: fixed;
    right: 0;
    transition: opacity 1s;

}
.chatbot-header
{
  border-radius: inherit;
    color:black;
    background:#f23c3c;
    padding: 5px;
}
.chatbot-message
{
  position: absolute;
  bottom: 0;
  border-top: 1px solid red;
  background-color:white;
  border-radius: 5px;
}
#chatbot-input
{
  width: 250px;
  margin: 2px;
  border:none;
}
/* #chatbot-input:focus
{
  
} */





@media(max-width:825px)
{
  div div h1
  {
    font-size: 30px;
  }
  #widget-container
  {
    display:none;
  }
  /* .center-title
  {
    top:50%;
   
  } */
  .center-para{
    top:50%
  }
}
/* @media only screen and (max-width: 600px)
{
  .center-title{
    top: 65%;
  }
  .center-button{
    top:95%
  }
} */