html{
    scroll-behavior: smooth;
}
body{
    background-color: #141526;
    /* min-height:100vh; */
      
    /* background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
}
.top
{
    border-color: #FFFFFF;
    background-color: #046331;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(239, 232, 232);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.reg
{
    background-color: black;
    padding: 2px;
    border-right:1px solid darkred;
    border-left: 1px solid darkred;
    min-height: 100vh;
}
.form-control
{
  
margin:20px;
background-color: inherit;
color: #04a14e;
border-top: none;
border-left: none;
border-right:none;

}
.form-control:hover
{
    border:2px solid#046331;
}
.form-control:focus
{
    border:4px solid #00863f;
    background-color: black;
  outline: none!important;
}

.outer
{
    min-height: 100vh;
}
.company
{
    background-color: black;
    margin-bottom:10px;
    border: 1px solid teal;
}
.company-more-info
{
  width: 500px;
  height:500px;
  background: black;
  position: fixed;
  top: 20%;
  left:35%;
  z-index: 13;
  border: 1px solid teal;
  display: none;
}
.show
{
  display:block;
}

.content
{   margin:0 auto;

    height: fit-content;   
}
#searhCompany
{
    width:250px
}
  .sidenav
  {
      background-color: black;
      color:white;
      border-radius: 10px;
  }
  .side-item
  {
      color: white;
      margin: 15px;
  }

.top-header-login-reg
{
  margin-top: 100px;
}


/* hover effects--------------------------------------- */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}
  /* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }



.fa-plus
{
    color:darkred;
}  


.center-title
{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: serif;
  font-size: 45px;
  
}
.center-para
{
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
     
  
}
.center-button
{
  color: white;position: absolute; top: 80%;left: 50%;text-align: center;transform: translate(-50%, -50%);
}






/* 
---------chatbot---------------------- */
#widget-container
{
    position:fixed;
    bottom: 0;
    right:0;
    margin: 50px;
    color:whitesmoke;
    z-index: 9;
}
.chatbot-minimised
{
  z-index: 9;

    position: fixed;
    right: 0;
    width: 0;
  
    opacity:0;
    transition: opacity 1s;
   /* display: none; */
   background:#cdd5d6;
}
.chatbot-expanded
{
    z-index: 11;
    height: 550px;
    width: 340px;
    /* border: 2px solid white; */
    border-radius: 5px;
    margin: 30px;
    opacity: 1;
    display:block;
    background:#cdd5d6;
    position: fixed;
    right: 0;
    transition: opacity 1s;

}
.chatbot-header
{
   border-radius: inherit;
    color:black;
    background:#f23c3c;
    padding: 5px;
    height:50px;
}


.chatbot-message-box {
  flex: 0 1 42px;
  width: 100%;
  background: #fff; 
  margin:2px auto;
  padding: 10px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px 15px 5px 5px; 
  height:38px;
  bottom: 0;
  border:1px solid #ccc;
}
 
.message-input {
    background: none;
    border: none;
    outline: none!important;
    resize: none; 
    /* color: rgba(255, 255, 255, .8);*/
    font-size: 15px;
    height: 24px;
    margin: 0;
    padding-right: 20px;
    width: 85%;
    color: #444;  }
  textarea:focus:-webkit-placeholder {
    color: transparent;
  }
   .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #4A90E2;
     background:none;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding:0 10px;
    border-radius: 5px;
    outline: none!important;
    /* transition:background .2s ease; */
    cursor:pointer;
   }
    .message-submit:hover {
      background:none;
      color: #333;
  }

  .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 20px 20px 20px 0; 
    background: #eee; 
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 5px;
    position: relative;
    max-width: 70%;
      /* border:1px solid #0000DD; */
    overflow-wrap: break-word;
  }
  .message-icon
  {
    clear: both;
    float: left;
    border-radius:20px; 
    position: relative;   
  }
  .message-user {
    float: right;
    background:#18c0fd;
    border:1px solid #ccc;
    border-radius: 20px 20px 0 20px;
    margin-right: 5px;
  }


  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .animate__animated.animate__headShake{
    --animate-duration: 0.7s;
  }
/* ----------------------calculator---------------------------------------- */
.calculator-input
{
  padding: 5px;
  margin: 10px;
  background: green;
  flex:1;
}
.calculator-body
{
  background-color: white;
  border-radius: 10px;
}
.calculator-line
{
margin: 20px;
position: relative;
left:10%;
margin-left:80px;
}

.calculator-final
{
  background-color: grey;
  border-radius: 5px;
  width: 250px;
  position: relative;
  left:25%;
  margin: 40px 0;
  padding: 10px;
}

/* -------------------------------- media query-------------------------------- */
@media(max-width:700px)
{
  div div h1
  {
    font-size: 30px;
  }
  .center-para{
    top:50%
  }
  .chatbot-expanded
  {
    min-width: 100vw;
    margin:0;
    bottom: 0;
    height: 80%;

  }
  .message
  {
    font-size: 25px;
  }
  .company-more-info
  {
    width: 100%;
    left:0;
  }
}




/* .fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */
